
<%= form_with model: @user, url: user_sign_up_path, html: {class: 'w-50 mx-auto pt-5'} do |f| %>
  <h1 class="text-center">註冊</h1>
  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <% f.object.errors.full_messages.each do |msg| %>
          <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :email, '信箱' %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Steven@gmail.com' %>
  </div>
  <div class="mb-3">
    <%= f.label :password, '密碼' %>
    <%= f.password_field :password, class: 'form-control', placeholder: '密碼'  %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, '密碼確認' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '請再輸入一次密碼' %>
  </div>
  <div class="mb-3">
    <%= f.label :phone, '手機號碼' %>
    <%= f.text_field :phone, class: 'form-control', placeholder: '手機號碼' %>
  </div>
  
  <%= f.button '註冊', class: 'btn btn-primary' %>
<% end %>