<h1>註冊</h1>
<%= form_with model: @user, url: user_sign_up_path do |f| %>
  
  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <% @user.errors.full_messages.each do |msg| %>
          <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :email, '信箱' %>
    <%= f.text_field :email, class: 'form-control', placeholder: 'Steven@gmail.com' %>
  </div>
  <div class="mb-3">
    <%= f.label :password, '密碼' %>
    <%= f.password_field :password, class: 'form-control', placeholder: '密碼'  %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, '密碼確認' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '請再輸入一次密碼' %>
  </div>
  
  <%= f.button '註冊', class: 'btn btn-primary' %>
<% end %>