<h1>更改密碼</h1>
<%= form_with model: Current.user, url: user_edit_password_path do |f| %>
  
  <% if f.object.errors.any? %>
    <div class="alert alert-danger">
      <% f.object.errors.full_messages.each do |msg| %>
          <div><%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :password, '密碼' %>
    <%= f.password_field :password, class: 'form-control', placeholder: '密碼'  %>
  </div>
  <div class="mb-3">
    <%= f.label :password_confirmation, '密碼確認' %>
    <%= f.password_field :password_confirmation, class: 'form-control', placeholder: '請再輸入一次密碼' %>
  </div>
  
  <%= f.button '更新密碼', class: 'btn btn-primary' %>
<% end %>